.grid-container {
  display: grid;

  grid-template-columns: 12% 1fr;
  grid-template-rows: 50px 500px;
  grid-template-areas:
    "header header"
    "nav main";
}
.header {
  grid-area: header;

  text-align: center;
  background-color: #778899;
  font-size: 25px;
}
.nav {
  grid-area: nav;

  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  background-color: #708090;
}

.main {
  grid-area: main;
}
